<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>


    <div class="container-fluid" id="bootstap-container" style="height: 100vh; border: solid 2px red;">

        <div class="row">
          <!---descrption container start--->
        <div id="descrption-content-container" class="container text-center" style="border: solid 2px blue; height: 100%;">

            <div class="row" style="height: 100%;">
                

                    <!----Left descrption container start---->
                <div id="upper-description-container" class="col-12" style="border: 2px greenyellow solid; height: 40vh;"> <!---->
                    <header id="descrption-header-container"> <!---->
                        <h3>Quienes somos</h3>
                        <p id="name">Empresa</p> <!---->
                    </header>
                    
                    <div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id delectus quibusdam quia laudantium quidem quos corporis ad totam possimus numquam odio ab ratione, illum sint impedit quasi deserunt qui perspiciatis?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id delectus quibusdam quia laudantium quidem quos corporis ad totam possimus numquam odio ab ratione, illum sint impedit quasi deserunt qui perspiciatis?</p>
                    </div>
                </div>
                <!----Left Left descrption container  end---->

            </div>
            <div class="row">

                    <!----Right descrption container start---->
                <div id="lower-description-container" class="col-12" style="border: 4px skyblue solid; height: 60vh;">

                        <h5 id="map">Donde nos ubicamos:</h5>
                        <br>
                        <div id="map-container">
                            <canvas style="width: 80%; height: auto; background-color: grey;"></canvas>
                        </div>
                </div>
                    <!----Right descrption container end---->
            
            
            </div>
        <!---descrption container end--->
        </div>
    
        </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</html>