<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main-container"style="width: 100vw; height: 2000px;">

        <div id="form-container"style="width: 100vw; height: 2000px;">
            <form action="">

                <label for="mod1Select">Elige el módulo de calendario</label>
            <select name="mod1Select" id="mod1Select">
                <option value="null" selected disabled>Elige una opción</option>
                <option value="moduloCalendarioMensual.html">Calendario mensual</option>
                <option value="moduloCalendarioSemana.html">Calendario semanal</option>
            </select>
            <iframe frameborder="0" id="iFrameMod1" style="width: 100vw; height: 100vh;"></iframe>


            <label for="mod2Select">Elige el módulo de descripción</label>
            <select name="mod2Select" id="mod2Select">
                <option value="null" selected disabled>Elige una opción</option>
                <option value="moduloQuienesSomos1.html">Mod 1</option>
                <option value="modluoQuienesSomos2.html">Mod 2</option>
            </select>
            <iframe frameborder="0" id="iFrameMod2" style="width: 100vw; height: 100vh;"></iframe>


            <label for="mod1Select">PlaceHolder</label>
            <select name="mod1Select" id="mod1Select">
                <option value="null" selected disabled>Elige una opción</option>
                <option value="nombreDelDocumento.html">Mod 1</option>
                <option value="nombreDelDocumento.html">Mod 2</option>
            </select>
            <iframe frameborder="0" id="iFrameMod1" style="width: 100vw; height: 100vh;"></iframe>


            <label for="mod1Select">Elige el módulo de servicios</label>
            <select name="mod1Select" id="mod1Select">
                <option value="null" selected disabled>Elige una opción</option>
                <option value="nombreDelDocumento.html">Servicios 1</option>
                <option value="nombreDelDocumento.html">Servicios 2</option>
            </select>
            <iframe frameborder="0" id="iFrameMod1" style="width: 100vw; height: 100vh;"></iframe>

            <button type="submit">Acabar página</button>
            
        </form>
            
        </div>

    </div>
</body>
<script src="selectorModulos.js"></script>
</html>